{% extends "plantillaNavbarAdmin.php.twig" %}

    {% block body %}
    
    {% block head %}

    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    {% endblock %}

    {% block titulo %} <h1>Cervezas</h1> {% endblock %}

    {% block contenido %}

    



        <a class="p-2 mb-2 bg-success text-white" id="redir" href="index.php?con=cerveza&ope=anadir">Añadir cerveza</a>
            



        <table class="table">
            <thead class="thead-dark"> 
                <th>CodTipo</th>
                <th>NomTipo</th>
                <th>Graduacion</th>
                <th>Composicion</th>
                <th>Capacidad</th>
                <th>CodMarca</th>
                <th>imgTipo</th>
                <th></th>
            </thead>
            
            <tbody class="tbody">
                {% for item in dat  %}
                <tr class="tr">
                    <td>{{item.CodTipo}}</td>
                    <td>{{item.NomTipo}}</td>
                    <td>{{item.Graduacion}}</td>
                    <td>{{item.Composicion}}</td>
                    <td>{{item.Capacidad}}</td>
                    <td>{{item.CodMarca}}</td>
                    <td><img src="{{item.imgTipo}}" height="150" width="150"></img></td>
                    <td> <a href="index.php?con=Cerveza&ope=borrar&id={{item.CodTipo}}">Borrar</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   

    {% endblock %}
    
    {% endblock %}